@charset "UTF-8";

/* Criando variaveis na raiz das css */
:root {
    --cor0: white;
    --cor1: #F1F5FC;
    --cor2: #2D7CE2;
    --cor3: #65655E;

    --font-padrao: Arial, Helvetica, Verdana, sans-serif;
}

/* Formatação global */
*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font-padrao);
}

body {
    height: 100vh;
    background-color: var(--cor0);
}

header {
    width: 95vw;
    height: 50px;
    background-color: var(--cor1);
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    padding: 8px;
    font-size: 0.9em;
}

img#logotipoHeader {
    display: none;
}

nav {
    display: inline-block;
    line-height: 50px;
}

a {
    text-decoration: none;
    color: var(--cor3);
    margin: 5px;
    padding: 5px;
}

a:hover {
    color: var(--cor2);
}

form {
    display: inline-block;
    float: right;
    line-height: 50px;
}

input#signUp {
    height: 30px;
    width: 80px;
    border-radius: 15px;
    border: 2px solid var(--cor2);
    background-color: var(--cor0);
    color: var(--cor2);
}

input#signUp:hover {
    width: 84px;
    height: 34px;
}

input#signIn {
    height: 30px;
    width: 80px;
    border-radius: 15px;
    border: 1px solid var(--cor2);
    background-color: var(--cor2);
    color: var(--cor0);
}

input#signIn:hover {
    width: 84px;
    height: 34px;
}

main {
    padding: 8px;
    margin: auto;
    text-align: center;
}

h1 {
    color: var(--cor3);
    padding: 8px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.099);
}

div#listaProdutos {
    margin: auto;
    width: 95vw;
}

div.Produto {
    display: inline-block;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.203);
    width: 200px;
    height: 220px;
    margin: 5px;
}

img.imagemProduto {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 200px;
    height: 140px;
}

p.legendaProduto {
    padding: 3px;
}

footer {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 95vw;
    margin: auto;
}

nav#navFooter {
    float: right;
    height: 30px;
    line-height: 30px;
}

div#footerTop {
    background-color: var(--cor0);
    width: 92vw;
    height: 30px;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div#footerBottom {
    background-color: var(--cor1);
    width: 92vw;
    height: 40px;
    padding: 8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 40px;
}

a.redesPessoais {
    padding: 0px;
    float: right;
}

p#paragrafoFooter {
    color: var(--cor3);
    font-size: 2.5vw;
}